@font-face {
    font-family: 'Eurostile-Extended-Regular';
    src:url('Eurostile-Extended-Regular/Eurostile-Extended-Regular.woff') format('woff'),
          url('Eurostile-Extended-Regular/Eurostile-Extended-Regular.woff2') format('woff2'),
          url('Eurostile-Extended-Regular/Eurostile-Extended-Regular.svg#Eurostile-Extended-Regular/Eurostile-Extended-Regular') format('svg'),
          url('Eurostile-Extended-Regular/Eurostile-Extended-Regular.eot'),
          url('Eurostile-Extended-Regular/Eurostile-Extended-Regular.eot?#iefix') format('embedded-opentype'),
          url('Eurostile-Extended-Regular/Eurostile-Extended-Regular.ttf') format('truetype');
  
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    margin: 0;
    padding: 0;
}

.intro {
    letter-spacing: .05em;
    text-transform: uppercase; 
    font-family: 'Eurostile-Extended-Regular'; 
    text-align: center;
    background:-webkit-linear-gradient(#3942a5,#3961a5);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

h1, h2, p{
    margin: 0;
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,.8), 0 8px 16px rgba(0,0,0,.6);
}

p { 
    font-family: 'Poppins', sans-serif;
}

.bio {
    display: flex;
    justify-content: flex-end;
    background: -webkit-linear-gradient(#3961a5,#3961a5);
    padding: 15px;
}

.bio img {
    max-width: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,.8), 0 8px 16px rgba(0,0,0,.6);
}