@import url('header.css');
@import url('intro.css');
@import url('custom-font.css');

body{
    margin: 0;
    padding: 0;
    background-color: black;
}

p { 
    font-family: 'Poppins', sans-serif;
}

.bio {
    display: flex;
    justify-content: flex-end;
    background: -webkit-linear-gradient(black, #284475);
    padding: 15px;
}

.bio img {
    max-width: 35%;
    box-shadow: 0 2px 4px rgba(0,0,0,.8), 0 8px 16px rgba(0,0,0,.6);
}