@import url('header.css');
@import url('intro.css');
@import url('hobbies.css');
@import url('biography.css');
@import url('custom-font.css');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
background: #2E2F2F;
}

body::-webkit-scrollbar-thumb{
background: #385ea0;
}

h1, h2, h3, h4, p{
    margin: 0;
    color: white;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,.8);
}

h2 {
    font-size: small;
}

p { 
    font-family: 'Poppins', sans-serif;
}

h3, h4{
    font-family: 'Eurostile-Extended-Regular'; 
    text-transform: uppercase; 
    letter-spacing: .05em;
}

h3{
    color: #a3b8cc;
}

h4{
    font-size: 30px;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    margin-top: 1rem;
    text-align: center;
    max-width: 50%;
    font-size: larger;
}

#arrow-down{
    background-color:  #284475;
    display: flex;
    justify-content: center;   
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#arrow-down svg{
    height: 50px;
}