a{
    text-decoration: none;
}
#Annam{
    background-size: 600px;
    background-image: url('../pages/img/profil.jpg');
    background-position-y: -49px;
    animation: travel-effect-backtime 0.75s infinite alternate;
}
#AnnamB{
    background-size: 600px;
    background-image: url('../pages/img/profil.jpg');
    background-position-y: -49px;
    animation: travel-effect-backtimeB 0.75s infinite alternate;
}
#AnnamC{
    background-size: 600px;
    background-image: url('../pages/img/profil.jpg');
    background-position-y: -49px;
    animation: travel-effect-backtimeC 0.75s infinite alternate;
}
#AnnamD{
    background-size: 600px;
    background-image: url('../pages/img/profil.jpg');
    background-position-y: -49px;
    animation: travel-effect-backtimeD 0.75s infinite alternate;
}
#AnnamE{
    background-size: 600px;
    background-image: url('../pages/img/profil.jpg');
    background-position-y: -49px;
    animation: travel-effect-backtimeE 0.75s infinite alternate;
}
#Roland{
    image-rendering: pixelated;
    background-size: 600px;
    background-image: url('https://avatars.githubusercontent.com/u/114738205?s=400&u=d7c7d80…&v=4');
    background-position-y: -101px;
    animation: travel-effect 0.75s ease-out infinite alternate;
}
#RolandB{
    image-rendering: pixelated;
    background-size: 600px;
    background-image: url('https://avatars.githubusercontent.com/u/114738205?s=400&u=d7c7d80…&v=4');
    background-position-y: -101px;
    animation: travel-effectB 0.75s ease-out infinite alternate;
}
#RolandC{
    image-rendering: pixelated;
    background-size: 600px;
    background-image: url('https://avatars.githubusercontent.com/u/114738205?s=400&u=d7c7d80…&v=4');
    background-position-y: -101px;
    animation: travel-effectC 0.75s ease-out infinite alternate;
}
#RolandD{
    image-rendering: pixelated;
    background-size: 600px;
    background-image: url('https://avatars.githubusercontent.com/u/114738205?s=400&u=d7c7d80…&v=4');
    background-position-y: -101px;
    animation: travel-effectD 0.75s ease-out infinite alternate;
}
#RolandE{
    image-rendering: pixelated;
    background-size: 600px;
    background-image: url('https://avatars.githubusercontent.com/u/114738205?s=400&u=d7c7d80…&v=4');
    background-position-y: -101px;
    animation: travel-effectE 0.75s ease-out infinite alternate;
}
@keyframes travel-effect-backtime{
    0% { 
        transform: translateY(-100px); 
    }
    100% { 
        transform: translateY(100px); 
        animation-timing-function: cubic-bezier(.34,.56,.5,1.07);
    }
}
@keyframes travel-effect-backtimeB{
    0% { 
        transform: translateY(-137px); 
        animation-timing-function: cubic-bezier(.47,.04,.72,.82);
    }
    100% { 
        transform: translateY(67px); 
        animation-timing-function: cubic-bezier(.47,.04,.63,.78);
    }
}
@keyframes travel-effect-backtimeC{
    0% { 
        transform: translateY(-175px); 
        animation-timing-function: cubic-bezier(.47,.04,.67,.72);
    }
    100% { 
        transform: translateY(25px); 
        animation-timing-function: cubic-bezier(.47,.04,.67,.72);
    }
}
@keyframes travel-effect-backtimeD{
    0% { 
        transform: translateY(-175px); 
        animation-timing-function: cubic-bezier(.47,.04,.78,.68);
    }
    100% { 
        transform: translateY(0px); 
        animation-timing-function: cubic-bezier(.47,.04,.78,.68);
    }
}
@keyframes travel-effect-backtimeE{
    0% { 
        transform: translateY(-175px); 
        animation-timing-function: cubic-bezier(.47,.04,.79,.65);
    }
    100% { 
        transform: translateY(-25px); 
        animation-timing-function: cubic-bezier(.47,.04,.79,.65);
    }
}
@keyframes travel-effect{
    0% { 
        animation-timing-function: cubic-bezier(.34,.56,.5,1.07);
        transform: translateY(100px); 
    }
    100% { 
        transform: translateY(-100px); 
    }
}
@keyframes travel-effectB{
    0% { 
        animation-timing-function: cubic-bezier(.47,.04,.63,.78);
        transform: translateY(55px); 
    }
    100% { 
        animation-timing-function: cubic-bezier(.47,.04,.72,.82);
        transform: translateY(-137px); 
    }
}
@keyframes travel-effectC{
    0% { 
        transform: translateY(57px); 
        animation-timing-function: cubic-bezier(.47,.04,.67,.72);
    }
    100% { 
        transform: translateY(-175px); 
        animation-timing-function: cubic-bezier(.47,.04,.67,.72);
    }
}
@keyframes travel-effectD{
    0% { 
        transform: translateY(57px); 
        animation-timing-function: cubic-bezier(.47,.04,.78,.68);
    }
    100% { 
        transform: translateY(-203px); 
        animation-timing-function: cubic-bezier(.47,.04,.78,.68);
    }
}
@keyframes travel-effectE{
    0% { 
        transform: translateY(57px); 
        animation-timing-function: cubic-bezier(.47,.04,.78,.68);
    }
    100% { 
        transform: translateY(-231px); 
        animation-timing-function: cubic-bezier(.47,.04,.78,.68);   
    }
}
.ConteneurImage{
    position: relative;
    z-index: 1;
    text-align: center;
    border-radius: 5%;
    border: 5px solid black;
    width: 600px;
    height: 350px;
}
.ConteneurImageB{
    z-index: -1;
    margin-top: -327px;
    position: relative;
    text-align: center;
    border-radius: 5%;
    border: 5px solid black;
    width: 600px;
    height: 350px;
    opacity: 0.35;
}
.ConteneurImageC{
    z-index: -2;
    margin-top: -327px;
    position: relative;
    text-align: center;
    border-radius: 5%;
    border: 5px solid black;
    width: 600px;
    height: 350px;
    opacity: 0.25;
}
.ConteneurImageD{
    z-index: -3;
    margin-top: -327px;
    position: relative;
    text-align: center;
    border-radius: 5%;
    border: 5px solid black;
    width: 600px;
    height: 350px;
    opacity: 0.17;
}
.ConteneurImageE{
    z-index: -4;
    margin-top: -327px;
    position: relative;
    text-align: center;
    border-radius: 5%;
    border: 5px solid black;
    width: 600px;
    height: 350px;
    opacity: 0.05;
}
.ConteneurImage p{
    color: white;
    margin-bottom: 295px;
    margin-block-end: auto;
    margin-block-start: auto;
    margin-top: 300px;
    font-size: 2.8em;
}
.mainConteneur{
    height: 910px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}